.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form select {
  background-color: rgb(60, 62, 68);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.form select option {
  padding: 30px;
}
