.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  text-align: center;
  position: relative;
}

.header h1 {
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  font-size: 5.25rem;
  z-index: 1;
}
